@font-face{
    font-family: 'Playfair Display', serif;
    font-family: 'Lora', serif;
    font-family: 'Work Sans', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&family=Work+Sans&display=swap);}

body h2 {
    font-size: 40px;
    font-family: 'Lora', serif;
    font-weight: lighter;}

body p {
    font-family: 'Work Sans', sans-serif;}
    
html {
    margin-right: 45px;
    margin-left: 45px;    
    padding: 0%;}

/*__HEADER__*/
header {
    display: flex;
    justify-content: space-between;    
    flex-direction: row; 
    align-items: center;}

.imagen_header{  
    width: 40%;}

 .lista_menu{ 
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0px;
    display: flex;
    flex-direction: row;    
    list-style: none;}

.lista_menu li{
    margin-right: 50px;}

select {
    border: none;}

/*____Imagen inicio____*/
.imagen_inicio {
    background-image: url(/Imagenes/slider-2.jpg);
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat; 
    text-align: center;
    padding-top: 150px;
    margin-top: 25px;}

.imagen_inicio h1 {
    font-size: 55px;    
    font-weight: lighter;
    font-family: 'Playfair Display', serif;}

.imagen_inicio  a {
    margin-top: 25px;
    font-family: 'Work Sans', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 600;}

/*_____SALE________*/
.sale{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;}

.sale_img{
    width: 35%;
    height: 250px;}

.sale_img:nth-child(1)  {
    background-image: url(/Imagenes/banner-1.png);
    background-size: 100% 100% ;
    background-repeat: no-repeat;
    margin-right: 30px;} 

.sale_img:nth-child(2)  {
    background-image: url(/Imagenes/banner-2.png);
    background-size: 100% 100% ;
    background-repeat: no-repeat;} 

.sale h2{
    padding-top: 80px;
    padding-left: 30px;    
    color: #53a128;
    margin: 0px;}

.sale p { 
    margin-top: 20px;  
    padding: 0px 0px 0px 40px;
    font-weight: 600;}

/*___SECCIÓN LATEST__*/
.latest {
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: url(/Imagenes/bg-1.jpg);}

.texto_latest {    
    text-align: center;
    margin-bottom: 50px;}

.texto_latest h2:nth-child(2){
    font-size: 20px;}

.latest_all_img {
    display: flex;     
    justify-content: center;}

.latest_img img {
    width: 90%;}

.circulo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #53a128;
    color: aliceblue;
    position: absolute;
    z-index: 1;
    margin: 5px 0 0 5px;    
    font-size: 15px;} 

.circulo h4 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    margin: 15px 0 15px 5px;}

.latest_all_img h3 {
    font-family: 'Work Sans', sans-serif;
    color: #767676;
    margin-bottom:10px;}

.latest_all_img p {
    margin: 0px;
    font-weight: 600;}

/*__SECCION OPINIONS__*/
.opinions {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;}

.legend {
    width: 700px;
    text-align: center;
    color: #767676;}

.legend h2 {
    font-size: 20px;
    font-style: italic;    
    margin-bottom: 35px;}

.legend :nth-child(3){
    font-size:15px;
    font-weight: 600;
    margin-bottom: 10px;}

.legend :nth-child(4){
    margin-top: 0PX;
    font-size:15px;}

/*__NEW PRODUCTS__*/
.new_products {
    padding-top: 50px;     
    padding-bottom: 50px;
    text-align: center;
    background-color: #f3f3f3;}

.new_products h2:nth-child(1) {
    margin-bottom: 0px;}

.new_products h2:nth-child(2) {
    font-size: 18px;}

.new_products h3 {
    font-family: 'Work Sans', sans-serif;
    color: #767676;
    margin-bottom:10px;}

.new_products p {
    margin: 0px;
    font-weight: 600;}

.latest_img1 {
    margin-top: 25px;    
    text-align: left;    
    width:calc(100%/4);}

.latest_img1 img{
    width: 90%;}

p span {
    color: #767676;
    font-weight: 600;
    text-decoration: line-through;}

.new_img {
    justify-content: space-between;
    margin: 0 200px 0 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /*organizar contenido harizontalmente abajo cuando se completa el 100% de contenido en la linea superior */}

/*__JOIN__*/
.join {
    padding: 100px 0px 100px 0px;
    text-align: center; 
    background-image: url(/Imagenes/bg-2.jpg);}

.formulario {
    display: flex;    
    justify-content: center;}

.formulario input {
    height: 50px;
    width: 25%;
    background: none;
    padding-left: 25px;
    color: #767676;
    border: 0.3px solid;}

.formulario button {
    background-color: black;
    color: #f3f3f3;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    width: 150px;}

/*__LATEST_NEWS__*/
.latest_news {  
    padding: 50px 0px 50px 0px;
    text-align: center;
    background-image: url(/Imagenes/bg-1.jpg);}

.latest_news h2 {
    margin-bottom: -15px;}

hr {width: 15%;
margin-bottom: 50px;}

.news_img h2 {
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 10px;}

.news_img {
    display: flex;
    justify-content: space-between;   
    margin: 0 140px 0 140px;
    text-align: left;}

.latest_n h3{ 
    font-family: 'Work Sans', sans-serif;
    margin: 15px 0 5px 0;
    font-size: 15px;
    font-style: italic;
    text-decoration: underline;
    color: #529f29;}

.latest_n p {
    color: #767676;
    margin-bottom: 30px;
    padding: 0px 50px 0 0;}

.latest_n a {
    color: #767676;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;}

/*__Patrocinadores__*/
.patrocinadores {
    margin: 50px 0 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;}

.patrocinadores img {
    margin: 40px;}

/*___FOOTER__*/
footer {
    Background-color: #f3f3f3;}

footer h2 {
    font-size: 20px;}

.listas {
    padding: 70px 0px 70px 0px;
    display: flex;
    justify-content: space-between;
    margin: 0px 200px 0 200px;}

.account  ul , .information ul , .quick ul , .contact ul {
    font-family: 'Work Sans', sans-serif;
    color: #767676;
    list-style: none;
    padding: 0px 0px 0px 0px;
    line-height: 40px;}

.copy {
    display: flex;
    justify-content: space-between;
    background-color:rgb(235,235,235) ; 
    padding: 5px 210px 5px 210px;
    align-items: center;}

.copy span {
    text-decoration: none;
    font-weight: 700;}

    
