/*Se importan las fuentes*/
@font-face{
    font-family: 'Playfair Display', serif;
    font-family: 'Lora', serif;
    font-family: 'Work Sans', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&family=Work+Sans&display=swap);}

/*se de un formato general al documento de los tamaños de letra y las mergenes de izquierda y derecha*/
body h2 {
    font-size: 40px;
    font-family: 'Lora', serif;
    font-weight: lighter;}

body p {
    font-family: 'Work Sans', sans-serif;}
    
html {
    margin-right: 45px;
    margin-left: 45px;    
    padding: 0%;}
/*Se oculta el menú de hamburguesa para ser usado después*/
.hamburguesa {
    display: none;}

/*__HEADER__*/
/*Se utiliza flexbox para los elementos, en el header se genera un espacio entre elementos y un orden horizontal row, ya que las listas naturalmente se despliegan hacia abajo*/
header {
    display: flex;
    justify-content: space-between;    
    flex-direction: row; 
    align-items: center;}

/*Se da un tamaño al logo */
.imagen_header{  
    width: 40%;}
/*Se agregan las fuentes directamente al menú, se da posición exacta con la maqueta usando row y se le quitan los puntos de la lista con list style*/
 .lista_menu{ 
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0px;
    display: flex;
    flex-direction: row;    
    list-style: none;}
/*Se espacias los elementos de la lista con margin*/
.lista_menu li{
    margin-right: 50px;}
/*Se altera la parte visual de la etiqueta select del menú quitándole el borde y dando la fuente en específico*/
select {
    border: none;
    font-family: 'Work Sans', sans-serif;    
    font-weight: 600;}

/*____Imagen inicio____*/
/*Para esta sección se agrega la imagen como background, se le da un ajuste con cover y un alto predeterminado con height, la propiedad no repead unifica la imagen. Para el contenido en texto se agrega el tamaño en específico con su fuente correspondiente, lo mismo se hace con a*/
.imagen_inicio {
    background-image: url(./Imagenes/slider-2.jpg);
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat; 
    text-align: center;
    padding-top: 150px;
    margin-top: 25px;}

.imagen_inicio h1 {
    font-size: 55px;    
    font-weight: lighter;
    font-family: 'Playfair Display', serif;}

.imagen_inicio  a {
    margin-top: 25px;
    font-family: 'Work Sans', sans-serif;
    color: #333333;
    font-size: 20px;
    font-weight: 600;}

/*_____SALE________*/
/*Para esta sección se da un espaciado entre arriba y bajo de todo el contenido con un padding, luego se agrega posición con flexbox. Para el conenedor de imagenes se da un tamaño preestablecido para que todas sean iguales, luego para cada contenedor se agrega su imagen correspondiente utilizando la misma clase pero con :nth. Finalmente se ajusta el tamaño y color de la letra */
.sale{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;}

.sale_img{
    width: 35%;
    height: 250px;}

.sale_img:nth-child(1)  {
    background-image: url(./Imagenes/banner-1.png);
    background-size: 100% 100% ;
    background-repeat: no-repeat;
    margin-right: 30px;} 

.sale_img:nth-child(2)  {
    background-image: url(./Imagenes/banner-2.png);
    background-size: 100% 100% ;
    background-repeat: no-repeat;} 

.sale h2{
    padding-top: 80px;
    padding-left: 30px;    
    color: #529F0F;
    margin: 0px;}

.sale p { 
    margin-top: 20px;  
    padding: 0px 0px 0px 40px;
    font-weight: 600;}

/*___SECCIÓN LATEST__*/
/*Para latest también se coloca el fondo por medio de background y se da un espaciado de arriba y abajo con padding. Para el texto, se coloca en la posición central con un margen abajo de 50px. En el caso de los textos, para la clase texto_latest , se hace una modificación al h2 usando :nth ya que conserva la mimsa letra del subtitulo pero tiene que ser más pequeña. Para la clase padre se hacen modificaciones mediante flexbox para guardar su posición. */
.latest {
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: url(./Imagenes/bg-1.jpg);}

.texto_latest {    
    text-align: center;
    margin-bottom: 50px;}

.texto_latest h2:nth-child(2){
    font-size: 20px;}

.latest_all_img {
    display: flex;     
    justify-content: center;}

.latest_img img {
    width: 90%;}
/*Esta clase se modifica para crear la etiqueta de descuento con un tamaño definido por height y weight, una forma ciruclar por border los espaciados totales del contenedor con margin y tamaño correspondiente. Adicionalemnte se modifica el h4 que va dentro del circulo dando un margin para posicionar el % de descuento en la mitad*/
.circulo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #529F0F;
    color: white;
    position: absolute;
    z-index: 1;
    margin: 5px 0 0 5px;    
    font-size: 15px;} 

.circulo h4 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    margin: 15px 0 15px 5px;}

.latest_all_img h3 {
    font-family: 'Work Sans', sans-serif;
    color: #575757;
    margin-bottom:10px;}

.latest_all_img p {
    margin: 0px;
    font-weight: 600;}

/*__SECCION OPINIONS__*/
/*Se modifica los espaciados de arriba - abajo y su posición central con justify content. Para las demas clases se hacen modificaciones de texto simples como tamaños o tipografías*/
.opinions {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;}

.legend {
    width: 700px;
    text-align: center;
    color: #575757;}

.legend h2 {
    font-size: 20px;
    font-style: italic;    
    margin-bottom: 35px;}

.legend :nth-child(3){
    font-size:15px;
    font-weight: 600;
    margin-bottom: 10px;}

.legend :nth-child(4){
    margin-top: 0PX;
    font-size:15px;}

/*__NEW PRODUCTS__*/
/*Para esta sección se hace un espaciado arriba y abajo con padding, se centra el texto. En general se utilizan las mismas propiedades de la sección Latest, unicamente se modifican los tamaños para que el contenedor padre ubique los ocho contenidos en dos filas */
.new_products {
    padding-top: 50px;     
    padding-bottom: 50px;
    text-align: center;
    background-color: #f3f3f3;}

.new_products h2:nth-child(1) {
    margin-bottom: 0px;}

.new_products h2:nth-child(2) {
    font-size: 18px;}

.new_products h3 {
    font-family: 'Work Sans', sans-serif;
    color: #575757;
    margin-bottom:10px;}

.new_products p {
    margin: 0px;
    font-weight: 600;}

.latest_img1 {
    margin-top: 25px;    
    text-align: left;    
    width:calc(100%/4);}

.latest_img1 img{
    width: 90%;}

p span {
    color: #575757;
    font-weight: 600;
    text-decoration: line-through;}

.new_img {
    justify-content: space-between;
    margin: 0 200px 0 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /*organizar contenido harizontalmente abajo cuando se completa el 100% de contenido en la linea superior */}

/*__JOIN__*/
/*En esta clase se genera un espaciado superior e inferior de 100px y se agrega la imagen de fondo. Para el formulario y el boton, se altera el tamaño por width y el fondo se pone transparente, para el boton se pone negro*/
.join {
    padding: 100px 0px 100px 0px;
    text-align: center; 
    background-image: url(./Imagenes/bg-2.jpg);}

.formulario {
    display: flex;    
    justify-content: center;}

.formulario input {
    height: 50px;
    width: 25%;
    background: none;
    padding-left: 25px;
    color: #575757;
    border: 0.3px solid;}

.formulario button {
    background-color: #333333;
    color: #f3f3f3;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    width: 150px;}

/*__LATEST_NEWS__*/
/*En esta sección se crea un espaciado de 50 px arriba y abajo. Se posiciona el fondo y al igual que en las anteriores clases, se modifican los contenedore para que los tres contenidos queden bien distribuidos mediante flexbox*/
.latest_news {  
    padding: 50px 0px 50px 0px;
    text-align: center;
    background-image: url(./Imagenes/bg-1.jpg);}

.latest_news h2 {
    margin-bottom: -15px;}

hr {width: 15%;
margin-bottom: 50px;}

.news_img h2 {
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 10px;}

.news_img {
    display: flex;
    justify-content: space-between;   
    margin: 0 140px 0 140px;
    text-align: left;}

.latest_n h3{ 
    font-family: 'Work Sans', sans-serif;
    margin: 15px 0 5px 0;
    font-size: 15px;
    font-style: italic;
    text-decoration: underline;
    color: #529f29;}

.latest_n p {
    color: #575757;
    margin-bottom: 30px;
    padding: 0px 50px 0 0;}

.latest_n a {
    color: #575757;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;}

/*__Patrocinadores__*/
/*Se edita el espaciado de imagenes por medio de margin, la posición por flexbox y el interlineado de imagenes directamente en la etiqueta img*/
.patrocinadores {
    margin: 50px 0 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;}

.patrocinadores img {
    margin: 40px;}

/*___FOOTER__*/
/*Para el footer, se crea un background color no tan blanco ya que contrasta con el banco del fondo de página. Se modifican los tamaños de letra correspondientes. Para la clase . listas, se hacen modificaciones utilizando flexbox para que se ubiquen una al lado de otra con un espaciado especifico definido por el margin. En .copy se vuelve a utilizar flexbox para separar los elementos(iamgen y texto) uno del otro y se ajustan con padding*/
footer {
    Background-color: #f3f3f3;}

footer h2 {
    font-size: 20px;}

.listas {
    padding: 70px 0px 70px 0px;
    display: flex;
    justify-content: space-between;
    margin: 0px 200px 0 200px;}

.account  ul , .information ul , .quick ul , .contact ul {
    font-family: 'Work Sans', sans-serif;
    color: #575757;
    list-style: none;
    padding: 0px 0px 0px 0px;
    line-height: 40px;}

.copy {
    display: flex;
    justify-content: space-between;
    background-color:rgb(235,235,235) ; 
    padding: 5px 210px 5px 210px;
    align-items: center;}

.copy span {
    text-decoration: none;
    font-weight: 700;}


/*En este apartado se encuentran las modificaciones correspondientes en tamaño y ubicacion para la vista mobile. De forma general se utiliza un flex direction column para albergar los elementos y que no se sobredimensionen utilizando también margin y padding para cada clase. */
 @media (max-width : 640px) {
    html {
        margin-right: 5px;
        margin-left: 5px;}
    
    body h2 {
        font-size: 40px;}

    .nav_container {    
        display: flex;
        align-items: center;
        justify-content: space-between;}
    
    .nav_item {
        color: white;
        text-decoration: none;}
    
    /*Dentro del media */
    .nav_label {
        display: block;
        cursor: pointer;}

    .nav_menu {
        position: fixed;
        top: 80px;
        bottom: 0px;
        background-color: #529F0F;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: 1s;}
    /*pseudolase checked > referencia al input checkbox de html que está encima de nav_menu, a su vez esta trayendo el label for=menu que actuara como cuadro de selección mediante la imagen svg de la hamburguesa  el + es selector de hermano adyacente, solo opera con etiquetas que están seguidas*/
    
    .nav_input {display: none;}
    
    .nav_input:checked + .nav_menu{
        clip-path: circle(100% at center);}

    /*__HEADER__*/
    /*Se esconde el menu de la versión desktop*/
    header {
        display: none;} 

   .hamburguesa {
        display: flex;
        justify-content: space-between;}

    .nav_container .imagen_header img { 
        margin-right: 100px;}
    .nav_container .nav_label img {
        padding-left: 70px;}

    .nav_item {
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
        color: white;
        text-decoration: none;}
    
    /*Dentro del media */
    .nav_label {
        float: right;       
        cursor: pointer;}

    .nav_menu {
        position: fixed;
        top: 80px;
        bottom: 0px;
        background-color: #529F0F;        
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: 1s;}
    /*pseudolase checked > referencia al input checkbox de html que está encima de nav_menu, a su vez esta trayendo el label for=menu que actuara como cuadro de selección mediante la imagen svg de la hamburguesa  el + es selector de hermano adyacente, solo opera con etiquetas que están seguidas*/
    
    .nav_input {display: none;}
    
    .nav_input:checked + .nav_menu{
        clip-path: circle(100% at center);}

    /*____Imagen inicio____*/
    .imagen_inicio {       
        height: 400px;        
        background-position: 50%;}

    .imagen_inicio h1 {
        font-size:30px;}

    /*_____SALE________*/
    .sale{
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;}

    .sale_img{
        width: 90%;}

    .sale_img:nth-child(1)  {        
        margin-right: 0px;
        margin-bottom: 30px;} 


    /*___SECCIÓN LATEST__*/
    .latest {
        padding-top: 40px;
        padding-bottom: 40px;}

    .texto_latest {    
        margin-bottom: 40px;}

    .texto_latest h2:nth-child(1){
        font-size: 30px;}

    .texto_latest h2:nth-child(2){
        font-size: 15px;}

    .latest_all_img {
        display: flex;         
        flex-direction: column;
        margin-left: 40px;}    

    .latest_all_img p {
        margin-bottom: 40px;}

    /*__SECCION OPINIONS__*/
    .opinions {
        margin: 50px 0 50px 0;}

    .legend {
        width: 350px;}

    /*__NEW PRODUCTS__*/
    .new_products {
        padding: 50px 0 70px 0;}

    .new_products h2:nth-child(1) {
        font-size: 30px;}

    .new_products h2:nth-child(2) {
        font-size: 15px;}   

    .latest_img1 {
        width: 90%;
        display: flex;         
        flex-direction: column;
        margin-left: 40px;}

    .new_img {
        margin: 0px;}

    /*__JOIN__*/
    .join {
        padding: 50px 0px 90px 0px;}   

    .join h2 {
        font-size: 30px;}

    .formulario input {       
        width: 45%;}

    /*__LATEST_NEWS__*/
    .latest_news {  
        padding: 50px 0px 50px 0px;}        

    .latest_news h2 {
        font-size:30px ;
        margin-bottom: -10px;}

    hr {
        width: 38%;}

    .news_img h2 {
        text-decoration: none;
        font-size: 25px;
        margin-bottom: 10px;}
    
    .latest_n {
        margin-bottom: 20px;
        margin-left: 40px;}

    .latest_n img {
        width: 90%;}

    .news_img {
        display: flex;        
        flex-direction: column;        
        margin: 0px;}

    /*__Patrocinadores__*/
    .patrocinadores img:nth-child(2), img:nth-child(3), img:nth-child(4), img:nth-child(5){
        display: none;}

    .patrocinadores img {        
        margin: 0px;}  
        
    /*___FOOTER__*/
    footer {
        Background-color: #f3f3f3;}

    footer h2 {
        font-size: 20px;}

    .listas {
        padding: 0px;        
        flex-direction: column;        
        margin: 40px;}

    .copy {
        display: flex;
        flex-direction: column;       
        padding: 0px;}

    .copy img {
        width: 70%;}
} 